
.dropdown-container {
    position: relative;
    background-color: transparent;
    width:130px;
  }
  
  .dropdown-button {
    display: block;
    padding: 10px;
    background-color: transparent;
    color:#ffffff;
    text-decoration: none;
    text-align: center;
  }
  
  .dropdown-menu {
    position:absolute;
    bottom: 0%;
    left: 100%;
    width: 210%;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    transition: height 0.3s ease;
    font-family: Tahoma;
    font-size: 1.2em;
    text-align: right;
    border-width: 0px;
    color:#ffffff;
    z-index: 30;
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:#ffffff;
    z-index: 3;
  }
  
  .dropdown-menu li {
    padding: 0px;
    vertical-align: middle;
    color:#ffffff;
  }
  .dropdown-menu li:hover {
    background-color: #b0b0b0;
  }
  
  .dropdown-menu li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .dropdown-menu li a:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  
  
  .dropdown-container:hover .dropdown-menu {
    height: auto;
  }
