*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    overflow-y: auto;
}

.header{
    color: white;
    text-align: center;
}

.encabezado{
    background-color: black;
    font-family: "Tahoma", "Helvetica";
    font-size: 20px;
}
    

.social{
    background-color: gray;
    width: 150px;
    height: 45px;
}

.carrito{
    width: 40px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.fotos{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
/* hemos intentados que los div se pusiera uno encima de otro
@media only screen and (max-width:500px){
    .fotos{
        display:flex ;
        flex-wrap: wrap;
    }
    .header{
        display:block;
    }
}*/

.foto{
    border: 1px solid #ddd;
    text-align: center;
    background-color: red;
}

.foto1{
    width: 100%;
    align-items: center;
    transition: transform 0.3s ease; /*esto es para que las imagenes crezcan*/
    cursor: pointer; /*esto es para poner una mano como pulsador*/
}

.foto1:hover{
    transform: scale(1.05); /*esto es para indicarle el tamaño a la imagen*/
}

.div1{
    overflow-y: scroll; /*esto es para poner scroll*/
    height: 93vh;
}
/* esto es para esconder el scroll*/
::-webkit-scrollbar {
    display: none;
}

.container{
    display: grid;
    grid-template-rows: 0.5fr 8.fr 0.3fr;
    margin: 2px;
}


/*esto es para hacer el responsive  */
@media (max-width: 767px) {
    .fotos {
      grid-template-columns: 1fr;
    }

    .encabezado{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        grid-template-rows: 0.1fr 8fr 0.1fr;
        overflow: hidden;
    }

    .footer{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 767px){
    .encabezado{
        position: fixed;
        width: 33%;
    }
}
