/* Globales */

*{
    margin: 0;
    padding: 0;
    font-family:"TAHOMA";
}

body {
    background-color: black;
    width: 100vh;
    height: 100vw;
    overflow-X:hidden;
    overflow-y: hidden;
    /*background-image: url(../fotios/portada-lengua.jpg);
    background-size: cover;*/

}
.inicio{
    display: grid;
}

.foto-logo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100vh;
    
}

.imagen-lengua{
    width: 100vh;
    overflow-x: hidden;
    text-align: right;
    right: 0;
    position:absolute;
}

.imagen-logo{
    width: 55vh;
    position: relative;
    top:0;
    left: 45%;

}
.contenedor-de-video{
    width: auto;
    height: 100px;
    padding: 0%;
    position: absolute;
    z-index: -1;
    top: 10%;
}
.animated-title{
    transform: translateY(100%);
    width: 100vh;
    /* text-align: center; */
    color: #ddd;
    font-size: 50px;
    font-family: tahoma;
    letter-spacing: 10px;
    position:absolute;
    top: 60%;
    padding-left: 20%;
    animation: animate 8s linear forwards infinite;
   
}

.animated-title span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

 animated-title:nth-child(1)
{
    animation-delay: 1s;
}
.animated-title span:nth-child(2)
{
    animation-delay: 2s;
}
.animated-title span:nth-child(3)
{
    animation-delay: 2.5s;
}
.animated-title span:nth-child(4)
{
    animation-delay: 3s;
}
.animated-title span:nth-child(5)
{
    animation-delay: 3.5s;
}
.animated-title span:nth-child(6)
{
    animation-delay: 3.75s;
}
.animated-title span:nth-child(7)
{
    animation-delay: 4s;
}
.animated-title span:nth-child(8)
{
    animation-delay: 4.5s;
}

.texto{
    color: #f0f0f0;
    font-size: 1 rem;
    padding: 10%;
    width: 100vh;
    position:absolute;
    top: 50%;
    left: 4%;
    text-align: justify;
    
}


footer{
    position:absolute;
    bottom: 0%;
    width: 100vh;
}

.copy{
    color: #f0f0f0;
    font-size: 1em;
    position:relative;  
}



/* Estilos responsive */
@media screen and (max-width: 767px) {
    .foto-logo {
        position: absolute;
        width: 30%;
        top:10%;
        left: 2%;
        z-index: 4;
    }
    .imagen-logo {
        position: inherit;
        top: 0%;
        left: 10%;
        width: 100%;
        display: block;
        z-index: 3;
    
    }
    .texto {
        font-size: 2vw;
        width: 100%;
        top: -30%;
        left: 0%;
        position: relative;
        text-align: justify;
    }
    .contenedor-foto-lengua{
        position: absolute;
        top: 0;
        height: 100%;
        width: 45%;
        right: 35%;
    
    }
    .imagen-lengua {
        position: absolute;
        left: 0%;
        top:0%;
        /*height: 60%;*/
        zoom: 40%;
        overflow-x: hidden;
        z-index: 3;
    }
    .contenedor-de-video {
        position: absolute;
        padding: 20px;
        top: 18%;
        zoom: 50%;
    }
    .animated-title{
        transform: translateY(100%);
        width: 100vh;
        /* text-align: center; */
        color: #ddd;
        font-size: 10vw;
        font-family: tahoma;
        letter-spacing: 10px;
        position:absolute;
        top: 30%;
        left: 25%;
        animation: animate 8s linear forwards infinite;
    }
    .video {
        position: absolute;
        top: 10%;
        left: -20%;
    }
    footer{
        position: absolute;
        bottom: 50%;
        width: 90vh;
        margin: 0%; 

    }
    .copy{
        color: #f0f0f0;
        font-size: 2vw;
        position:relative; 
    }
}
