/* Globales */

*{
    margin: 0;
    padding: 0;
    font-family:"TAHOMA";
}

body {
    background-color: black;
    width: 100vh;
    overflow: hidden;
    
}
.inicio{
    display: grid;
}

.foto-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vh;
    
}

.imagen-lengua{
    width: 100vh;
    overflow-x: hidden;
    text-align: right;
    right: 0;
    position:absolute;
}

.imagen-logo{
    width: 55vh;
    position: relative;
    top:0;
    left: 45%;

}
.contenedor-de-video{
    width: 50vh;
}
.animated-title{
    transform: translateY(100%);
    width: 100vh;
    /* text-align: center; */
    color: #ddd;
    font-size: 50px;
    font-family: tahoma;
    letter-spacing: 10px;
    position:absolute;
    top: 60%;
    left: 10%;
    animation: animate 8s linear forwards infinite;
   
}

.animated-title span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

 animated-title:nth-child(1)
{
    animation-delay: 1s;
}
.animated-title span:nth-child(2)
{
    animation-delay: 2s;
}
.animated-title span:nth-child(3)
{
    animation-delay: 2.5s;
}
.animated-title span:nth-child(4)
{
    animation-delay: 3s;
}
.animated-title span:nth-child(5)
{
    animation-delay: 3.5s;
}
.animated-title span:nth-child(6)
{
    animation-delay: 3.75s;
}
.animated-title span:nth-child(7)
{
    animation-delay: 4s;
}
.animated-title span:nth-child(8)
{
    animation-delay: 4.5s;
}
.texto{
    color: #f0f0f0;
    font-size: 10px;
    padding: 10%;
    width: 50vh;
    position:absolute;
    top: 55%;
    left: 4%;

}
.contenedormeixock{
    animation-iteration-count: infinite;
}
.video{
    width: 50vh;

}



.copy{
    color: #f0f0f0;
    font-size: 10px;
    padding: 10%;
}
footer{
    position:absolute;
    display: grid;
    top: 85%;
}