*{
    margin: 0;
    padding: 0;
   
}

.fondo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 1%;
    
    
}
.fondo1{
    height: 100vh;
    width: 100vh;

}
.fondo2{
    height: 100vh;
    width: 100vh;
    
}
.collage{

    position:relative;
    height: 100vh;
    width: 100vh;
    filter: blur(3px);
    
    
}

.peligro {
    position:relative;
    height: 100vh;
    width: 100vh;
    
    
}

 .rectangles {
    top: 0;
    margin: 3%;
    height: 80%;
    width: 30%;
    background-color: #e4e2e280;
    border: 6px solid;
    border-color: #000000;
    position:absolute;
    right: 5%;
    border-radius: 16px;
    z-index: 2;
}

.rectangle-2 {
    width: 50%;
    height: 7%;
    top: 10%;
    left: 25%;
    background-color: #000000;
    position: absolute;
    border-radius: 6rem;
    color:white;
    font-size:2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}

.rectangle-3 {
    width: 50%;
    height: 7%;
    top: 20%;
    left: 25%;
    background-color: #000000;
    position: absolute;
    border-radius: 6rem;
    color:white;
    font-size:2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.text-wrapper{
   
    top:50%;
    left: 25%;
    position: absolute;
    color:black;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
}

 .rectangle-4 {
    width: 50%;
    height: 7%;
    top: 75%;
    left: 25%;
    background-color: #000000;
    position: absolute;
    border-radius: 6rem;
    color:white;
    font-size:2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
    z-index: 10;
 }

.shopping-cart {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 76%;
    right: 30%;
    z-index: 12;
    background-color:transparent;
}




@media only screen and (max-width: 767px) {
    
    body{
        overflow: hidden;
    }
    .fondo {
        grid-template-columns: 1fr;
    }

    .fondo1,
    .fondo2,
    .collage,
    .peligro {
        height: auto;
        width: 100%;
    }

    .rectangles {
    width: 80%;
    left: 5%;
    position: absolute;
    top: 65%;
    margin: 2%;
    height: 30%;
    }

    .rectangle-2,
    .rectangle-3
     {
        width: 50%;
        height: 15%;
        position:absolute;
        right: 3%;
        font-size: 4vw;
    }
    .rectangle-2{
        position: absolute;
        top:15%;
    }
    .rectangle-3{
        position: absolute;
        top:35%;
    }
    .rectangle-4{
        position: absolute;
        top:75%;
        width: 60%;
        height: 15%;
        position:relative;
       
        font-size: 4vw;

    }

    .shopping-cart {
        top: 75%;
        right: 20%;
        width:10% ;
        height: 15%;
    }
    .text-wrapper{
    font-size: 5vw;
    top:55%;
    left:30%;
    
}

}

    